## Build results
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## VS working folder
.vs/

## NuGet packages
*.nupkg
packages/
*.snupkg

## Rider and ReSharper
.idea/
*.DotSettings.user

## Logs and temp files
*.log
*.tmp
*.bak

## Others
TestResults/
*.dbmdl
*.cache
